### Analise Exploratorio de Estudantes

- usando Sweetviz para gerar relatorios..
- pandas para manipular os dados!

In [ ]:
#instalando as LIbs usada no projeto
%pip install pandas
%pip install sweetviz

In [13]:
# import as Biblioteca...
import pandas as pd
import sweetviz as sv

In [ ]:
# manipulando os Dados
data = pd.read_csv('StudentsPerformance.csv')
print(data.info())

In [9]:
data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
#analisa os dados
report = sv.analyze(data)

#gera um relatorio
report.show_html('eda_report.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report eda_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [15]:
data1 = data[0:400]
data2 = data[400:]

In [16]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       400 non-null    object
 1   race/ethnicity               400 non-null    object
 2   parental level of education  400 non-null    object
 3   lunch                        400 non-null    object
 4   test preparation course      400 non-null    object
 5   math score                   400 non-null    int64
 6   reading score                400 non-null    int64
 7   writing score                400 non-null    int64
dtypes: int64(3), object(5)
memory usage: 25.1+ KB

In [18]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 400 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       600 non-null    object
 1   race/ethnicity               600 non-null    object
 2   parental level of education  600 non-null    object
 3   lunch                        600 non-null    object
 4   test preparation course      600 non-null    object
 5   math score                   600 non-null    int64
 6   reading score                600 non-null    int64
 7   writing score                600 non-null    int64
dtypes: int64(3), object(5)
memory usage: 37.6+ KB

In [20]:
# validando 2 bases de dados
report_comp = sv.compare([data1, 'base_original'], [data2, 'base_validação'])

# Gerando Relatorio com essas comparações! 
report_comp.show_html('compare.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.